footer {
    background-color: lightness-shift($black, 20%);
    padding: 2em 0 1em 1em;
    .logo-footer {
        path {
            fill: $white;
        }
    }
    i {
        margin-right: 0.7em;
    }
    a, p {
        color: $white;
    }
}