

header {
    display: flex;
    margin: 20px 30px 20px;
}
.logo-header {
        margin: auto;
        width: 50%;
        @include tablette-only {
            width: 35%;
        }
        @include ordinateur-only {
            width: 25%;
        }
}
a {
    position:absolute;
}