main {
    @include tablette-only {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    position: relative;
    z-index: 2;
    border-radius: 25px 25px 0 0;
    background-color: darkness-shift($white, 5%);
    padding: 2em 0 2em 0;
        @include tablette-only {
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
        h1 {
            @include tablette-only {
                display: block;
            }
            font-family: $font-title;
            font-size: 1.5em;
            font-weight: lighter;
            margin: 0 0 0 0.8em;
            .heart {
                
                bottom: 29px;
                @include tablette-only {
                    left: 15%;
                }
            }
        }
    .menu {
        &--starter, &--main, &--desserts {
            @include tablette-only {
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                padding: 1em;
                width: 100%;
            }
        }
        &--starter {
            animation: opacity 1s;
            animation-fill-mode: backwards;
            @keyframes opacity {
                0% {
                    opacity:0;
                }
                100% {
                    opacity:1;
                }
            }
        }
        &--main {
            animation: opacity 1s 0.2s;
            animation-fill-mode: backwards;
            @keyframes opacity {
                0% {
                    opacity:0;
                }
                100% {
                    opacity:1;
                }
            }
        }
        &--desserts {
            animation: opacity 1s 0.4s;
            animation-fill-mode: backwards;
            @keyframes opacity {
                0% {
                    opacity:0;
                }
                100% {
                    opacity:1;
                }
            }
        }
    }
    .menu-title {
            margin-left: 0.8em;
            &_text {
                text-transform: uppercase;
                font-weight: lighter;
                color: lightness-shift($black, 15%);
                margin: 1em 0 0.2em 0;
            }
            &_underline {
                width: 3em;
                border-top: 0.3em solid $color-tertiary;
                margin-bottom: 1em;
            }
        }
    }