.menu-dish {
    @include ordinateur-only {
        width: 100%;
        padding: 1em;
    }
    @include box-shadow(10%);
    background-color: $white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0 1em 1em 1em;
    &_text {
        margin-left: 0.5em;
        h3 {
            margin: 0.5em 0 0 0;
        }
        p {
            margin: 0.2em 0 0.5em 0;
        }
    }

    p {
        align-self: flex-end;
        margin: 0 1em 0.5em 0;
    }

    &:hover + .menu-dish_check {
        transform: scale(1.15);
    }
    
    &_check {
        display: flex;
        align-items: center;
        justify-content: center;
        width:50px;
        border-radius: 0 10px 10px 0;
        background:$color-tertiary;
        color: $white;
        transform: scale(0.1);
        transition: transform 4000ms;
    }
}