.menu-dish {
    @include tablette-only {
    width: 35%;
    }
    @include ordinateur-only {
    width: 30%;
    }
    @include box-shadow(10%);
    background-color: $white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0 1em 1em 1em;
    &_text {
        margin-left: 0.5em;
        display: grid;
        h3 {
            @include tablette-only {
                font-size: 1em;
            }
            margin: 0.5em 0 0 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p {
            margin: 0.2em 0 0.5em 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &:hover .check {
        width: 50px;
        i {
            transform: scale(1) rotate(0deg);
        }
    }
    &_right {
        display: flex;
        .price {
            display: flex;
            align-self: flex-end;
            margin: 0 1em 0.5em 0;
        }
        .check {
            display: flex;
            align-items: center;
            justify-content: center;
            width:0px;
            border-radius: 0 10px 10px 0;
            background:$color-tertiary;
            color: $white;
            transform-origin: 100% 50%;
            transition: width 300ms;
            i {
            transform:  scaleX(0) rotate(-360deg);
            transition: transform 300ms;
            }
        }
    }
    
   
}